In [3]:
import pandas as pd

dataframe = pd.read_excel('D:/New folder/project/mydata.xlsx')
dataframe.Value = dataframe.Value.astype(int)
dataframe.Price = dataframe.price.astype(int)

dataframe.head(15)
#importing list of 15 items to select and their nutritions

,Item,میزان مصرف یک فرد متوسط در هفته gr:,مقدار,Vitamin C in 100g,Magnesium in 100g,Carbohydrate,Protein,Calories,Value in 100g,Value,Price,price
0,سیب زمینی,680,100,93.8,0.71,81.00,9.50,1533.0,34.767753,236,15000,15000
1,پیاز,127,100,7.4,10.00,9.34,1.10,166.0,3.738879,4,1700,1700
2,سیر,18,100,31.2,25.00,33.06,6.36,623.0,14.163162,2,1500,1500
3,گوجه فرنگی,204,100,14.0,11.00,3.90,0.90,74.0,4.023239,8,3000,3000
4,موز,254,100,8.7,27.00,22.84,1.09,371.0,7.090521,18,9100,9100
5,سیب,150,100,4.6,5.00,13.81,0.26,218.0,3.561798,5,1800,1800
6,روغن زیتون,63,100,0.0,28.00,91.00,8.10,1736.0,20.129325,12,1800,1800
7,پاستا,145,100,0.0,18.00,30.90,5.80,660.0,7.979153,11,16000,16000
8,نان,498,100,0.0,6.00,49.00,9.00,265.0,6.015160,29,25600,25600
9,برنج,1000,100,0.0,12.00,28.00,4.30,130.0,3.610365,36,80000,80000
10,قهوه,2,100,0.0,0.00,0.00,0.10,0.0,0.008163,0,500,500
11,توفو,1785,100,0.0,7.00,1.90,8.00,76.0,1.639134,29,218000,218000
12,بادام زمینی,59,100,0.0,184.00,16.00,25.00,2385.0,28.571666,16,7000,7000
13,ماست,127,100,0.0,11.00,3.98,9.00,4.6,1.527162,1,4500,4500
14,شیر,417,100,0.0,2.00,5.00,3.40,42.0,0.987177,4,15000,15000

In [4]:
#Recursive Method for finding total value
def Recursive(Budget,Price,value,Num):
    if Num==0 or Budget==0:
        return 0
    #if we ran out of items or Budget it return 0
    if Price[Num]>Budget:
        return Recursive (Budget,Price,value,Num-1)
    #if the price of an item is more than our budget it skips it
    total_value = max(value[Num]+Recursive(Budget-Price[Num],Price,value,Num-1),Recursive(Budget,Price,value,Num-1))
    #it figures out whether it is a good choice to have item "Num" or not by finding the maximum of values of situations
    return total_value

In [5]:
value = list(dataframe['Value'])
price = list(dataframe['price'])
Price = list(dataframe['Price'])
capital = 82505
#capital is the all money we have

col = capital + 1 
# total columns in knapsack array including capital = 0
row = len (value) 
# total no of rows in knapsack array for total items

ks_arr = [[0 for x in range (col)] for y in range (row)] 
#knapsack array's full of zeros yet

Recursive(capital,Price,value,15)
#it returns the maximum value that we can have this week by spending our budget

109

In [6]:
#DP-Table as we talked about in chapter 2
for item in range (row):
    for budget in range (col):

        if price[item] > budget:
            ks_arr[item][budget] = ks_arr[item-1][budget]
            continue
            #if price of one item is more than our budget it skips it and continue


        previous_best_value = ks_arr[item-1][budget]
        
        new_best_value = value[item] + ks_arr[item-1][budget- price[item]]
        
        ks_arr[item][budget] = max(previous_best_value, new_best_value)
        #it checks if the new item can be better or not and keeps the values in DP-Table

In [7]:
knapsack_value_solution = []
for row in ks_arr:
    for col in row:
        knapsack_value_solution.append(col)
max_value = max(knapsack_value_solution)
#finding knapsack maximum of value that you can have by your budget
#print ('\nFrom knapsack-DP algorithm, maximum nutritions is: ',max_value)

In [8]:
knapsack_table = pd.DataFrame(ks_arr)
#print ('\nFollowing is the Knapsack table formed using DP:\n')
knapsack_table

,0,1,2,3,4,5,6,7,8,9,...,82496,82497,82498,82499,82500,82501,82502,82503,82504,82505
0,0,0,0,0,0,0,0,0,0,0,...,236,236,236,236,236,236,236,236,236,236
1,0,0,0,0,0,0,0,0,0,0,...,240,240,240,240,240,240,240,240,240,240
2,0,0,0,0,0,0,0,0,0,0,...,242,242,242,242,242,242,242,242,242,242
3,0,0,0,0,0,0,0,0,0,0,...,250,250,250,250,250,250,250,250,250,250
4,0,0,0,0,0,0,0,0,0,0,...,268,268,268,268,268,268,268,268,268,268
5,0,0,0,0,0,0,0,0,0,0,...,273,273,273,273,273,273,273,273,273,273
6,0,0,0,0,0,0,0,0,0,0,...,285,285,285,285,285,285,285,285,285,285
7,0,0,0,0,0,0,0,0,0,0,...,296,296,296,296,296,296,296,296,296,296
8,0,0,0,0,0,0,0,0,0,0,...,325,325,325,325,325,325,325,325,325,325
9,0,0,0,0,0,0,0,0,0,0,...,325,325,325,325,325,325,325,325,325,325
10,0,0,0,0,0,0,0,0,0,0,...,325,325,325,325,325,325,325,325,325,325
11,0,0,0,0,0,0,0,0,0,0,...,325,325,325,325,325,325,325,325,325,325
12,0,0,0,0,0,0,0,0,0,0,...,339,339,339,339,341,341,341,341,341,341
13,0,0,0,0,0,0,0,0,0,0,...,339,339,339,339,341,341,341,341,341,341
14,0,0,0,0,0,0,0,0,0,0,...,339,339,339,339,341,341,341,341,341,341
15,0,0,0,0,0,0,0,0,0,0,...,339,339,339,339,341,341,341,341,341,341

In [9]:
choosen_items = []
j = capital
for i in range (len(value)-1,0,-1):
    if ks_arr[i][j] != ks_arr[i-1][j]:
        #if the values of i and i-1 are not the same then it means i was choosen
        choosen_items.insert(0,i)
        j -= price[i]
        #it pays its price from the budget(capital)
total_items = len(choosen_items)
choosen_items

[1, 2, 3, 4, 5, 6, 7, 8, 12]

In [10]:
dataframe_final = dataframe.iloc[choosen_items]

pricelist = list (dataframe_final['Price'])
total_price = 0
for object in pricelist:
    total_price += object
    #it stacks all of choosen items' prices up
    
#print ('\nTotal money used from budget of 100000 tooman in purchase is: ',total_price)

In [11]:
#print('\n')
#print('Following is the table of purchase decision:\n')
#print(dataframe_final)

#time_taken = (time.perf_counter() - start_time)
#print ('\nTotal time taken on execution is %5.2f secs'%time_taken)